<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Authentication System</title>
    </head>

    <body class="bg-blue-100 text-gray-900">
        <nav class="border-b bg-blue-700 border-blue-400 shadow-lg">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">
                    <a href="/" class="py-4 text-xl text-white font-bold tracking-wide">Authentication System</a>

                    <ul class="flex items-center space-x-4">
                        <li><a href="/login" class="hover:bg-blue-800 transition px-4 py-2 text-white rounded-lg">Login</a></li>
                        <li><a href="/register" class="hover:bg-blue-800 transition px-4 py-2 text-white rounded-lg">Sign Up</a></li>
                        <form action="/logout?_method=DELETE" method="POST">
                            <button type="submit" class="py-3 px-6 rounded-lg text-white hover:bg-blue-800 transition font-medium">
                                Log Out
                            </button>
                        </form>
                    </ul>
                </div>
            </div>
        </nav>

        <main class="mb-12 mt-12">
            <div>
                <h1 class="text-4xl bg-blue-900 p-6 text-white text-center font-semibold shadow-md">
                    Hello! Welcome to the Home Screen
                </h1>
            </div>
            <br>
            <br><br><br><br><br><br><br><br>
        </main>

        <footer class="bg-blue-700 text-white mt-12">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0">
                    <h2 class="mb-5 uppercase text-lg font-semibold">About Us</h2>
                    <p class="text-gray-200">Lorem ipsum bla bla bla..</p>
                </div>

                <div class="footer-right">
                    <h2 class="mb-5 uppercase text-lg font-semibold">Social Links</h2>
                    <ul class="space-y-2">
                        <li><a href="#" class="hover:text-blue-300 transition">Facebook</a></li>
                        <li><a href="#" class="hover:text-blue-300 transition">Twitter</a></li>
                        <li><a href="#" class="hover:text-blue-300 transition">Instagram</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <script src="https://unpkg.com/hyperscript@2.2.0/dist/hyperscript.js"></script>
    </body>
</html>
